[submodule "exploits/cve/2022/CVE-2022-41924"]
	path = exploits/cve/2022/CVE-2022-41924
	url = https://github.com/oalieno/CVE-2022-41924
[submodule "exploits/cve/2024/CVE-2024-49113/CVE-2024-49113"]
	path = exploits/cve/2024/CVE-2024-49113/CVE-2024-49113
	url = https://github.com/SafeBreach-Labs/CVE-2024-49113.git
[submodule "exploits/cve/2024/--force"]
	path = exploits/cve/2024/--force
	url = https://github.com/SafeBreach-Labs/CVE-2024-49113.git
[submodule "exploits/cve/CVE-2024-49113"]
	path = exploits/cve/CVE-2024-49113
	url = https://github.com/SafeBreach-Labs/CVE-2024-49113.git
[submodule "exploits/cve/2024/CVE-2024-21182"]
	path = exploits/cve/2024/CVE-2024-21182
	url = https://github.com/kursadalsan/CVE-2024-21182
[submodule "exploits/cve/2018/CVE-2018-14847"]
	path = exploits/cve/2018/CVE-2018-14847
	url = https://github.com/jas502n/CVE-2018-14847
[submodule "exploits/cve/2024/CVE-2022-46169"]
	path = exploits/cve/2024/CVE-2022-46169
	url = https://github.com/lof1sec/CVE-2022-46169
[submodule "exploits/cve/2024/CVE-2024-12986"]
	path = exploits/cve/2024/CVE-2024-12986
	url = https://github.com/Aether-0/CVE-2024-12986.git
[submodule "exploits/cve/2021/LimeSurvey-RCE"]
	path = exploits/cve/2021/LimeSurvey-RCE
	url = https://github.com/D3Ext/LimeSurvey-RCE
