[submodule "exploits/cve/2022/CVE-2022-41924"]
	path = exploits/cve/2022/CVE-2022-41924
	url = https://github.com/oalieno/CVE-2022-41924
[submodule "exploits/cve/2024/CVE-2024-49113/CVE-2024-49113"]
	path = exploits/cve/2024/CVE-2024-49113/CVE-2024-49113
	url = https://github.com/SafeBreach-Labs/CVE-2024-49113.git
[submodule "exploits/cve/2024/--force"]
	path = exploits/cve/2024/--force
	url = https://github.com/RandomRobbieBF/CVE-2024-54374.git
[submodule "exploits/cve/CVE-2024-49113"]
	path = exploits/cve/CVE-2024-49113
	url = https://github.com/SafeBreach-Labs/CVE-2024-49113.git
[submodule "exploits/cve/2024/CVE-2024-21182"]
	path = exploits/cve/2024/CVE-2024-21182
	url = https://github.com/kursadalsan/CVE-2024-21182
[submodule "exploits/cve/2018/CVE-2018-14847"]
	path = exploits/cve/2018/CVE-2018-14847
	url = https://github.com/jas502n/CVE-2018-14847
[submodule "exploits/cve/2024/CVE-2022-46169"]
	path = exploits/cve/2024/CVE-2022-46169
	url = https://github.com/lof1sec/CVE-2022-46169
[submodule "exploits/cve/2024/CVE-2024-12986"]
	path = exploits/cve/2024/CVE-2024-12986
	url = https://github.com/Aether-0/CVE-2024-12986.git
[submodule "exploits/cve/2021/LimeSurvey-RCE"]
	path = exploits/cve/2021/LimeSurvey-RCE
	url = https://github.com/D3Ext/LimeSurvey-RCE
[submodule "exploits/cve/2023/CVE-2023-21839"]
	path = exploits/cve/2023/CVE-2023-21839
	url = https://github.com/ASkyeye/CVE-2023-21839
[submodule "exploits/cve/2023/CVE-2023-28434/evil_minio"]
	path = exploits/cve/2023/CVE-2023-28434/evil_minio
	url = https://github.com/AbelChe/evil_minio.git
[submodule "exploits/cve/2023/CVE-2023-45866/BlueDucky"]
	path = exploits/cve/2023/CVE-2023-45866/BlueDucky
	url = https://github.com/pentestfunctions/BlueDucky
[submodule "exploits/cve/2023/CVE-2023-6319/root-my-webos-tv"]
	path = exploits/cve/2023/CVE-2023-6319/root-my-webos-tv
	url = https://github.com/illixion/root-my-webos-tv.git
[submodule "exploits/cve/2024/CVE-2024-1086"]
	path = exploits/cve/2024/CVE-2024-1086
	url = https://github.com/Notselwyn/CVE-2024-1086
[submodule "exploits/cve/2024/CVE-2024-54374"]
	path = exploits/cve/2024/CVE-2024-54374
	url = https://github.com/RandomRobbieBF/CVE-2024-54374.git
[submodule "exploits/cve/2024/CVE-2024-55972"]
	path = exploits/cve/2024/CVE-2024-55972
	url = https://github.com/RandomRobbieBF/CVE-2024-55972.git
[submodule "exploits/cve/2024/CVE-2024-11423"]
	path = exploits/cve/2024/CVE-2024-11423
	url = https://github.com/RandomRobbieBF/CVE-2024-11423.git
[submodule "exploits/cve/2024/CVE-2024-12849"]
	path = exploits/cve/2024/CVE-2024-12849
	url = https://github.com/RandomRobbieBF/CVE-2024-12849
[submodule "exploits/cve/2024/CVE-2024-8743/CVE-2024-8743-PoC"]
	path = exploits/cve/2024/CVE-2024-8743/CVE-2024-8743-PoC
	url = https://github.com/siunam321/CVE-2024-8743-PoC.git
[submodule "exploits/cve/2024/CVE-2024-12558"]
	path = exploits/cve/2024/CVE-2024-12558
	url = https://github.com/RandomRobbieBF/CVE-2024-12558
